* {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    width: 980px;
    margin: 0 auto;
    background-color: antiquewhite;
}

label {
    display: block;
}

label span {
    display: inline-block;
    width: 70px;
    text-align: right;
    margin-left: 8px;
}